.center {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url("/assets/fonts/Lato-100/Lato-100.eot");
  src: url("/assets/fonts/Lato-100/Lato-100.eot?#iefix") format("embedded-opentype"), local("Lato Hairline"), local("Lato-100"), url("/assets/fonts/Lato-100/Lato-100.woff2") format("woff2"), url("/assets/fonts/Lato-100/Lato-100.woff") format("woff"), url("/assets/fonts/Lato-100/Lato-100.ttf") format("truetype"), url("/assets/fonts/Lato-100/Lato-100.svg#Lato") format("svg"); }
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Lato-regular/Lato-regular.eot");
  src: url("/assets/fonts/Lato-regular/Lato-regular.eot?#iefix") format("embedded-opentype"), local("Lato Regular"), local("Lato-regular"), url("/assets/fonts/Lato-regular/Lato-regular.woff2") format("woff2"), url("/assets/fonts/Lato-regular/Lato-regular.woff") format("woff"), url("/assets/fonts/Lato-regular/Lato-regular.ttf") format("truetype"), url("/assets/fonts/Lato-regular/Lato-regular.svg#Lato") format("svg"); }
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Lato-700/Lato-700.eot");
  src: url("/assets/fonts/Lato-700/Lato-700.eot?#iefix") format("embedded-opentype"), local("Lato Bold"), local("Lato-700"), url("/assets/fonts/Lato-700/Lato-700.woff2") format("woff2"), url("/assets/fonts/Lato-700/Lato-700.woff") format("woff"), url("/assets/fonts/Lato-700/Lato-700.ttf") format("truetype"), url("/assets/fonts/Lato-700/Lato-700.svg#Lato") format("svg"); }
html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  background-color: #222222;
  color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.25rem; }

#wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

p {
  width: 80%;
  margin: 1rem auto 1rem; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

#phase1 {
  display: none; }

.phase1 #phase1 {
  display: block; }

#phase2 {
  display: none; }

.phase2 #phase2 {
  display: block; }

#phase3 {
  display: none; }

.phase3 #phase3 {
  display: block; }

#phase4 {
  display: none; }

.phase4 #phase4 {
  display: block; }

#phase5 {
  display: none; }

.phase5 #phase5 {
  display: block; }

/*button{
	background-color: $black;
	border: 1px solid $black;
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
    box-shadow: 0px 0px 55px #fff;

	&:active,&:focus{
		color: $black;
		outline:none;
		background-color: transparent;
	}
}*/
button, .center_icon_change {
  background-color: transparent;
  border: 1px solid #ccc;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  font-size: inherit;
  /* color: inherit; */
  /* font-family: inherit; */
  /* font-weight: inherit; */
  box-shadow: 0 0 55px #fff; }

.water button, .water .center_icon_change, .human button, .human .center_icon_change, .cellular button, .cellular .center_icon_change, .wave button, .wave .center_icon_change {
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center; }

.human button, .human .center_icon_change {
  background-image: url(/assets/img/elements/human.png); }

.wave button, .wave .center_icon_change {
  background-image: url(/assets/img/elements/wave.png); }

.cellular button, .cellular .center_icon_change {
  background-image: url(/assets/img/elements/cellular.png); }

.water button, .water .center_icon_change {
  background-image: url(/assets/img/elements/water.png); }

.center_w_table {
  display: table;
  height: 100%;
  width: 100%; }
  .center_w_table > div {
    display: table-cell;
    vertical-align: middle; }

.container {
  width: 0px;
  margin: 0 auto 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.container .child {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%; }

.open {
  width: 220%;
  -webkit-transition: width 2.25s ease-out;
  -moz-transition: width 2.25s ease-out;
  -ms-transition: width 2.25s ease-out;
  -o-transition: width 2.25s ease-out;
  transition: width 2.25s ease-out;
  transform: translate(-50%, -50%);
  border-radius: 50%; }

.element_choice img {
  width: 50px; }

#phase2 {
  overflow: hidden;
  height: 100vh; }

#jsmessage {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  display: none; }

#user_choose_type {
  width: 50%;
  min-width: 230px;
  max-width: 400px;
  margin: 0 auto; }
  #user_choose_type li {
    display: inline-table;
    padding: 1.65rem; }
    #user_choose_type li a {
      display: table-cell;
      padding: 0px;
      vertical-align: middle; }

.error {
  display: none;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%; }

.no_other_clicks .error {
  display: block; }

.center_icon_change {
  margin: 0 auto; }
  .center_icon_change:active, .center_icon_change:focus {
    background-color: #222222; }

.tracking_motion {
  background-color: #f0c; }

#background_element_color.human {
  background-color: #a63534; }

#background_element_color.wave {
  background-color: #ddcd47; }

#background_element_color.cellular {
  background-color: #4db140; }

#background_element_color.water {
  background-color: #61abce; }

.pairing_container {
  width: 50px;
  /* pick whatever width you want */
  margin: 0 auto; }
  .pairing_container button, .pairing_container .center_icon_change {
    position: absolute;
    transform: translate(-50%, -10%);
    z-index: 1; }

.pair_ui_container {
  position: relative; }

.pair_ui {
  position: relative; }

.pairing_child {
  position: absolute;
  top: 50%;
  right: 50%; }

.pairing_container .pairing_child .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.pairing_ring1, .pairing_ring2, .pairing_ring3, .pairing_ring4 {
  border-radius: 50%;
  border: 6px solid #fff;
  display: inline;
  position: absolute;
  transform: translate(-50%, -50%); }

.pairing_ring1 {
  -webkit-animation: radiate 1.5s infinite;
  -moz-animation: radiate 1.5s infinite;
  -ms-animation: radiate 1.5s infinite;
  -o-animation: radiate 1.5s infinite;
  animation: radiate 1.5s infinite; }

.pairing_ring2 {
  -webkit-animation: radiate 3s infinite;
  -moz-animation: radiate 3s infinite;
  -ms-animation: radiate 3s infinite;
  -o-animation: radiate 3s infinite;
  animation: radiate 3s infinite; }

.pairing_ring3 {
  -webkit-animation: radiate 4s infinite;
  -moz-animation: radiate 4s infinite;
  -ms-animation: radiate 4s infinite;
  -o-animation: radiate 4s infinite;
  animation: radiate 4s infinite; }

.pairing_ring4 {
  -webkit-animation: radiate 4.5s infinite;
  -moz-animation: radiate 4.5s infinite;
  -ms-animation: radiate 4.5s infinite;
  -o-animation: radiate 4.5s infinite;
  animation: radiate 4.5s infinite; }

.phase5 img {
  width: 25%; }

#background_container_a, #background_container_b {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; }
  #background_container_a.active, #background_container_b.active {
    z-index: -1; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes radiate {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1; }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0; } }
@-moz-keyframes radiate {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1; }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0; } }
@-ms-keyframes radiate {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1; }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0; } }
@-o-keyframes radiate {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1; }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0; } }
@keyframes radiate {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1; }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0; } }
@-webkit-keyframes faderemove {
  0% {
    opacity: 1;
    display: block; }

  100% {
    opacity: 0;
    display: none; } }
@-moz-keyframes faderemove {
  0% {
    opacity: 1;
    display: block; }

  100% {
    opacity: 0;
    display: none; } }
@-ms-keyframes faderemove {
  0% {
    opacity: 1;
    display: block; }

  100% {
    opacity: 0;
    display: none; } }
@-o-keyframes faderemove {
  0% {
    opacity: 1;
    display: block; }

  100% {
    opacity: 0;
    display: none; } }
@keyframes faderemove {
  0% {
    opacity: 1;
    display: block; }

  100% {
    opacity: 0;
    display: none; } }
@-webkit-keyframes fade_out_in {
  0% {
    opacity: 1; }

  40% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade_out_in {
  0% {
    opacity: 1; }

  40% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes fade_out_in {
  0% {
    opacity: 1; }

  40% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes fade_out_in {
  0% {
    opacity: 1; }

  40% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade_out_in {
  0% {
    opacity: 1; }

  40% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.fade_out_in {
  -webkit-animation: fade_out_in 10s;
  -moz-animation: fade_out_in 10s;
  -ms-animation: fade_out_in 10s;
  -o-animation: fade_out_in 10s;
  animation: fade_out_in 10s; }

.fadeIn {
  -webkit-animation: fadein 10s;
  -moz-animation: fadein 10s;
  -ms-animation: fadein 10s;
  -o-animation: fadein 10s;
  animation: fadein 10s; }

.fade_remove {
  -webkit-animation: faderemove 3s;
  -moz-animation: faderemove 3s;
  -ms-animation: faderemove 3s;
  -o-animation: faderemove 3s;
  animation: faderemove 3s; }

.no_time_pair, .no_pair {
  background-image: url(/assets/ui/time_failed.png);
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center; }

#captive_portal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  background-color: #222222;
  text-align: center;
  font-weight: normal;
  font-size: 1rem; }
  #captive_portal > div {
    display: table-cell;
    vertical-align: middle;
    width: 90%; }

.captive_portal_active #captive_portal {
  display: table; }
