@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url('/assets/fonts/Lato-100/Lato-100.eot');
  src: url('/assets/fonts/Lato-100/Lato-100.eot?#iefix') format('embedded-opentype'),
       local('Lato Hairline'),
       local('Lato-100'),
       url('/assets/fonts/Lato-100/Lato-100.woff2') format('woff2'),
       url('/assets/fonts/Lato-100/Lato-100.woff') format('woff'),
       url('/assets/fonts/Lato-100/Lato-100.ttf') format('truetype'),
       url('/assets/fonts/Lato-100/Lato-100.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Lato-regular/Lato-regular.eot');
  src: url('/assets/fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('/assets/fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('/assets/fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('/assets/fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('/assets/fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Lato-700/Lato-700.eot');
  src: url('/assets/fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold'),
       local('Lato-700'),
       url('/assets/fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('/assets/fonts/Lato-700/Lato-700.woff') format('woff'),
       url('/assets/fonts/Lato-700/Lato-700.ttf') format('truetype'),
       url('/assets/fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

html,body{
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-height: 100vh;
	width: 100%;
	// overflow: hidden;
	//-webkit-touch-callout: none;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	text-align: center;
	background-color: $black;
	//background-color: transparent;
	color: $white;

	@include vendorize('user-select','none');
	@include vendorize('font-smoothing','antialiased');

	//font-family: 'Lekton', sans-serif;
	font-family: 'Lato', sans-serif;

	font-weight: 100;
    font-size: 1.25rem;
}

//Vendorize NOT SURE IF THIS WORKS MIGHT NEED TO ONLY BE APPLIED TO ANIMATIONS
#wrapper {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);

   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

h1,h2,h3,h4,h5{
}

p {
	width: 80%;
    //margin: 0 auto 1em auto;
    margin: 1rem auto 1rem;
}

ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	color: inherit;
}


@for $i from 1 through 5 {
	#phase#{$i}{
		display: none;
	}
	.phase#{$i}{
		#phase#{$i} {
			display: block;
		}
	}
}

/*button{
	background-color: $black;
	border: 1px solid $black;
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
    box-shadow: 0px 0px 55px #fff;

	&:active,&:focus{
		color: $black;
		outline:none;
		background-color: transparent;
	}
}*/

button {
	background-color: transparent;
    border: 1px solid #ccc;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    font-size: inherit;
    /* color: inherit; */
    /* font-family: inherit; */
    /* font-weight: inherit; */
    box-shadow: 0 0 55px #fff;
}

.water,.human,.cellular,.wave {
	button {
		background-size: 35%;
	    background-repeat: no-repeat;
	    background-position: center;
	}
}

.human {
	button {
		background-image: url(/assets/img/elements/human.png);
	}
}
.wave {
	button {
		background-image: url(/assets/img/elements/wave.png);
	}
}
.cellular {
	button {
		background-image: url(/assets/img/elements/cellular.png);
	}
}
.water {
	button {
		background-image: url(/assets/img/elements/water.png);
	}
}


.center_w_table {
	display: table;
	height: 100%;
	width: 100%;
	> div{
		display: table-cell;
		vertical-align: middle;
	}
}





//elements Phase 2
.container { 
	width: 0px;
    margin: 0 auto 1rem;
    position: fixed;
  	top: 50%;
  	left: 50%;
  	border-radius: 50%;
  	transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
}

.container .child {
    width: 100%;
    padding-top: 100%;
    //background-color: #f0f;
    border-radius: 50%;
}

.open {
	width: 220%;
    //transition: width 0.6s;
    @include transition(width, 2.25s, ease-out);
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.element_choice {
	img {
		width: 50px;
	}
}

#phase2 {
	overflow: hidden;
	height: 100vh;
}

#jsmessage{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 0.5rem;
	display: none;
}

// Pase 2
	#user_choose_type {
		width: 50%;
		min-width: 230px;
		max-width: 400px;
		margin: 0 auto;
		li{
			//width: 50%;
			display: inline-table;
			padding: 1.65rem;
			a{
				display: table-cell;
				padding: 0px;
				vertical-align: middle;
			}
		}
	}

// Pase 3
	.error{
		display: none;
		position: fixed;
		bottom: 0;
		text-align: center;
		width: 100%;
	}

	.no_other_clicks{
		.error{
			display: block;
		}
	}

// Pase 4
	.center_icon_change{
		@extend button;
		margin: 0 auto;
		&:active,&:focus{
			background-color: $black;
		}
	}
	.tracking_motion{
		background-color: #f0c;
	}

//Elements
#background_element_color.human {
	background-color: #a63534;
}

#background_element_color.wave {
	background-color: #ddcd47;
}

#background_element_color.cellular {
	background-color: #4db140;
}

#background_element_color.water {
	background-color: #61abce;
}




