.pairing_container { 
    width: 50px; /* pick whatever width you want */
    margin: 0 auto;

    button {
    	position: absolute;
        @include vendorize(transform, translate(-50%,-10%));
        z-index: 1;
    }
}
// .pairing_container .pairing_child {
//     width: 100%;
//     padding-top: 100%;
//     position: relative;
// }
.pair_ui_container {
    position: relative;
}

#pair_ui {
    position: relative;
    z-index: 2;
}

.pairing_child {
    position: absolute;
    top: 50%;
    right: 50%;
}


.pairing_container .pairing_child .inner {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

//Pairing state
.pairing_ring1,.pairing_ring2,.pairing_ring3,.pairing_ring4 {
	border-radius: 50%;
	border: 6px solid #fff;
	display: inline;
	position: absolute;
	@include vendorize(transform, translate(-50%,-50%));
}

.pairing_ring1 {
    @include animation('radiate 1.5s infinite');
}
.pairing_ring2 {
    @include animation('radiate 3s infinite');
}
.pairing_ring3 {
    @include animation('radiate 4s infinite');
}
.pairing_ring4 {
    @include animation('radiate 4.5s infinite');
}


//Found match pairing state
.pairing_ring1.match_found, .pairing_ring2.match_found, .pairing_ring3.match_found,.pairing_ring4.match_found {
    border-radius: 50%;
    border: 15px solid #fff;
    display: inline;
    position: absolute;
    @include vendorize(transform, translate(-50%,-50%));
}

/*.pairing_ring1.match_found {
    border-radius: 50%;
    border: 15px solid #fff;
    display: inline;
    position: absolute;
    @include vendorize(transform, translate(-50%,-45%));
}

.pairing_ring2.match_found {
    border-radius: 50%;
    border: 15px solid #fff;
    display: inline;
    position: absolute;
    @include vendorize(transform, translate(-50%,-65%));
}*/

.pairing_ring1.match_found {
    @include animation('radiate 0.25s infinite');
}
.pairing_ring2.match_found{
    @include animation('radiate 0.5s infinite');
}
.pairing_ring3.match_found{
    @include animation('radiate 1s infinite');
}
.pairing_ring4.match_found{
    @include animation('radiate 1.5s infinite');
}